@page "/inventaire/saisie"
@using Blazorise.Components;
@using System.Globalization;
@using System.Diagnostics;
@using System.Text.Json;
@using System.Reflection;
@using Volo.Abp.AspNetCore.Components.Notifications;
@using We.Louxor.InventaireArticle;
@using We.Louxor.InventaireArticle.Queries;
@using We.Results;
@inject IInventaireAppService appService;
@inject IUiNotificationService Notification
@inherits LouxorComponentBase
<Container Fluid>
    @if (IsInitialized)
    {
        <Row Class="mb-3">
            <Column ColumnSize="ColumnSize.Is2">
                <Field>
                    <FieldLabel>Page</FieldLabel>
                    <NumericEdit Value="Page" Min="1" Placeholder="Page de l'inventaire"/>
                </Field>

            </Column>
        
            <Divider Class="mt-2" />
        </Row>
        <Row Class="mb-3">
            <Fields>
                <Field ColumnSize="ColumnSize.Is4">
                    <FieldLabel>Code Article</FieldLabel>
                    <Autocomplete TItem="string"
                                  TValue="string"
                                  Data="@Articles"
                                  DebounceInterval=500
                                  TextField="@(( item ) => item)"
                                  ValueField="@(( item ) => item)"
                    @bind-SelectedValue="@article_selectedSearchValue"
                    @bind-SelectedText="article_selectedAutoCompleteText"
                                  Placeholder="Code Article"
                                  Filter="AutocompleteFilter.StartsWith"
                                  FreeTyping=false
                                  CustomFilter="@(( item, searchValue ) => item.IndexOf( searchValue, 0, StringComparison.CurrentCultureIgnoreCase ) >= 0 )">
                        <NotFoundContent> Désolé... @context n'existe pas! :( </NotFoundContent>
                    </Autocomplete>
                </Field>
                <Field ColumnSize="ColumnSize.Is4">
                    <FieldLabel>Client</FieldLabel>
                    <TextEdit Value="Client"  Placeholder="Client"/>
                </Field>
                <Divider Class="mt-2" />
            </Fields>

        </Row>
        
        <div class="row mb-3">
            <div class="col-4">
                <label class="form-label">Ordre de fabrication</label>
                <Autocomplete @ref="OfAutocomplete"
                              TItem="BrowseOrdreDeFabricationForCompletion"
                              TValue="int"
                              Data="@OrdresDeFabrication"
                              DebounceInterval=500
                              TextField="@(( item ) => item.Repr)"
                              ValueField="@(( item ) => item.Numero)"
                              Placeholder="Ordre de Fabrication"
                              Filter="AutocompleteFilter.StartsWith"
                              FreeTyping=false
                              CustomFilter="@(( item, searchValue ) => item.Numero.ToString().IndexOf( searchValue.Split('-')[0], 0, StringComparison.CurrentCultureIgnoreCase ) >= 0 )"
                              SelectedValueChanged="@OnOrdreDeFabricationChanged">

                    <NotFoundContent> Sorry... @context was not found! :( </NotFoundContent>
                </Autocomplete>
                @if (Operations.Count() == 1)
                {
                    <span>Operation Selectionnée: @Selected_Op</span>
                }
                else if (Operations.Count() > 1)
                {
                    @if (Selected_Op != null)
                    {
                        <span>Operation Selectionnée: @Selected_Op</span>

                    }
                    <table class="table table-hover table-bordered table-sm">
                        <tbody>
                            @foreach (var item in Operations)
                            {
                                <tr @onclick="@(e=>@onSelectOperationClicked(e,item))"><td>@item</td><td class="text-start"><Button Color="Color.Primary" Clicked="@(e=>@onSelectOperationClicked(e,item))" Visibility="@(Selected_Op==item?Visibility.Invisible:Visibility.Visible)">Select</Button></td></tr>
                            }
                        </tbody>
                    </table>
                }
                else if (Selected_Op != null)
                {
                    <span>Pas d'operation pour @Selected_Op</span>
                }

            </div>
        </div>

        <div class="row mb-3">
            <div class="col-2">
                <label for="quantity" class="form-label">Quantité</label>
                <input type="number" min="0" class="form-control" id="quantity" placeholder="Quantité" @bind-value="Quantite">

            </div>
        </div>
        <div class="row mt-3 mb-3">
            <div class="col-12">
                <Button Block Outline Size="Size.Large" Color="Color.Primary" Clicked="@OnAddLineClicked">Ajouter</Button>
            </div>
        </div>
    }
    @if (Inventaires != null)
    {
        <div class="row mb-4">
            <div class="col-12 text-end ">
                <Paragraph>
                    <b>Valo Totale: @String.Format(new CultureInfo("fr-fr"), "{0:C}", Inventaires.Sum(x => x.ValoFinale))</b>
                </Paragraph>

            </div>
        </div>
        <div class="row mb-4">
            <Divider Class="mt-2" />
            <div class="col-12 text-center">
                <DataGrid TItem="LigneInventaireDto"
                          Data="@Inventaires"
                                    Editable
                                    Filterable
                          FilterMethod="DataGridFilterMethod.StartsWith"
                          ShowPager="true"
                          PageSize="16"
                          RowUpdating="InventaireUpdating">
                    <DataGridColumns>
                        <DataGridColumn Field="@nameof(LigneInventaire.Page)" Caption="#" Sortable Filterable Editable>
                        <EditTemplate>
                            <NumericEdit TValue="int" Value="@((int)context.CellValue)" ValueChanged="@( v => context.CellValue = v)" />
                        </EditTemplate>
                    </DataGridColumn>
                    <DataGridColumn Field="@nameof(LigneInventaire.Article)" Caption="Article" Sortable Filterable Editable />
                        <DataGridColumn Field="@nameof(LigneInventaire.Client)" Caption="Client" Sortable Filterable Editable />
                        <DataGridColumn Field="@nameof(LigneInventaire.OrdreDeFabication)" Caption="Of" Editable>
                        <EditTemplate>
                            <NumericEdit TValue="int" Value="@((int)context.CellValue)" ValueChanged="@( v => context.CellValue = v)" />
                        </EditTemplate>
                    </DataGridColumn>
                    <DataGridColumn Field="@nameof(LigneInventaire.CodeOperationFinie)" Caption="Op" Editable>
                        <EditTemplate>
                            <NumericEdit TValue="int" Value="@((int)context.CellValue)" ValueChanged="@( v => context.CellValue = v)" />
                        </EditTemplate>
                    </DataGridColumn>
                    <DataGridColumn Field="@nameof(LigneInventaire.NumeroCommandeClient)" Caption="AR" Filterable Editable>
                        <EditTemplate>
                            <NumericEdit TValue="int" Value="@((int)context.CellValue)" ValueChanged="@( v => context.CellValue = v)" />
                        </EditTemplate>
                    </DataGridColumn>
                    <DataGridColumn Field="@nameof(LigneInventaire.Quantite)" Caption="Qté" Editable Filterable="false">
                            <EditTemplate>
                                <NumericEdit TValue="double" Value="@((double)context.CellValue)" ValueChanged="@( v => context.CellValue = v)" />
                            </EditTemplate>

                        </DataGridColumn>
                        <DataGridColumn Field="@nameof(LigneInventaire.PvArticleDeTete)" Caption="P.v tête" DisplayFormat="{0:C}" DisplayFormatProvider="@System.Globalization.CultureInfo.GetCultureInfo("fr-FR")" Editable Filterable="false">
                            <EditTemplate>
                                <NumericEdit TValue="double" Value="@((double)context.CellValue)" ValueChanged="@( v => context.CellValue = v)" />
                            </EditTemplate>
                        </DataGridColumn>
                        <DataGridColumn Field="@nameof(LigneInventaire.PuGamme)" Caption="Pu Gam." DisplayFormat="{0:C}" DisplayFormatProvider="@System.Globalization.CultureInfo.GetCultureInfo("fr-FR")" Editable Filterable="false">
                            <EditTemplate>
                                <NumericEdit TValue="double" Value="@((double)context.CellValue)" ValueChanged="@( v => context.CellValue = v)" />
                            </EditTemplate>
                        </DataGridColumn>
                        <DataGridColumn Field="@nameof(LigneInventaire.PuNomenclature)" Caption="Pu Nomenc." DisplayFormat="{0:C}" DisplayFormatProvider="@System.Globalization.CultureInfo.GetCultureInfo("fr-FR")" Editable Filterable="false">
                            <EditTemplate>
                                <NumericEdit TValue="double" Value="@((double)context.CellValue)" ValueChanged="@( v => context.CellValue = v)" />
                            </EditTemplate>
                        </DataGridColumn>
                        <DataGridColumn Field="@nameof(LigneInventaire.CtRevient)" Caption="Ct Revient" DisplayFormat="{0:C}" DisplayFormatProvider="@System.Globalization.CultureInfo.GetCultureInfo("fr-FR")" Filterable="false" />
                        <DataGridColumn Field="@nameof(LigneInventaire.ValoFinale)" Caption="Valo" DisplayFormat="{0:C}" DisplayFormatProvider="@System.Globalization.CultureInfo.GetCultureInfo("fr-FR")" Filterable="false" />
                        <DataGridCommandColumn DeleteCommandAllowed="true" NewCommandAllowed="false" EditCommandAllowed="true" Caption="Supprimer">
                            <DeleteCommandTemplate>
                                <Button Color="Color.Primary" Clicked="@(e=>RemoveLigneInventaire(context))" class="fa fa-trash"></Button>
                            </DeleteCommandTemplate>
                            <EditCommandTemplate>
                                <Button Color="Color.Primary" Clicked="@context.Clicked" class="fa fa-pen"></Button>
                            </EditCommandTemplate>
                            <SaveCommandTemplate>
                                <Button ElementId="btnSave" Type="ButtonType.Submit" PreventDefaultOnSubmit Color="Color.Primary" Clicked="@context.Clicked">@context.LocalizationString</Button>
                            </SaveCommandTemplate>
                            <CancelCommandTemplate>
                                <Button ElementId="btnCancel" Color="Color.Secondary" Clicked="@context.Clicked">@context.LocalizationString</Button>
                            </CancelCommandTemplate>
                            <ClearFilterCommandTemplate>
                                <Button Color="Color.Primary" Clicked="@context.Clicked" class="fa fa-trash "></Button>
                            </ClearFilterCommandTemplate>
                        </DataGridCommandColumn>
                    </DataGridColumns>

                </DataGrid>
            </div>
        </div>
    }
</Container>
@code {
    const string SOCIETE = "001";
    private bool IsInitialized = false;
    public List<string> Articles = new();
    public List<BrowseOrdreDeFabricationForCompletion> OrdresDeFabrication = new();
    public List<int> Operations = new();
    public List<LigneInventaireDto> Inventaires = new();
    //LigneInventaire Ligne = new();
    public string Client;
    public int Quantite;
    public int Page { get; set; } = 1;

    Autocomplete<BrowseOrdreDeFabricationForCompletion, int> OfAutocomplete;
    protected override async Task OnInitializedAsync()
    {
        await Result.Create(new BrowseArticleQuery() { Societe = SOCIETE })
        .Bind(q => appService.Browse(q))
        .OnAsync(
            r => Articles.AddRange(r.Articles),
            fail => Notification.Warn(fail.Errors.AsString())
        );
        await Result.Create(new BrowseOrdreDeFabricationQuery() { Societe = SOCIETE })
        .Bind(q => appService.Browse(q))
        .OnAsync(
            r => OrdresDeFabrication.AddRange(r.Ofs),
            fail => Notification.Warn(fail.Errors.AsString())
        );

        await Result.Create(new BrowseLigneInventaireQuery() { Societe = SOCIETE })
        .Bind(q => appService.GetListAsync(q))
        .OnAsync(
            r => Inventaires.AddRange(r.Lignes),
            fail => Notification.Warn(fail.Errors.AsString())
        );
        //Articles = (await appService.Browse(new BrowseArticleQuery() { Societe = SOCIETE })).Articles;
        //var tmp_ofs = (await appService.Browse(new BrowseOrdreDeFabricationQuery() { Societe = SOCIETE })).Ofs;
        //OrdresDeFabrication.AddRange(tmp_ofs);
        //OrdresDeFabrication = tmp_ofs.Select(x => x.ToString()).ToList();
        // Inventaires = (await appService.GetListAsync(new BrowseLigneInventaireQuery() { Societe = SOCIETE })).Lignes;

        await base.OnInitializedAsync();
        IsInitialized = true;
    }
    public string article_selectedSearchValue { get; set; } = string.Empty;
    public string article_selectedAutoCompleteText { get; set; } = string.Empty;

    //public string of_selectedSearchValue { get; set; }
    public string of_selectedAutoCompleteText { get; set; } = string.Empty;

    //public string operation_selectedSearchValue { get; set; }
    //public string operation_selectedAutoCompleteText { get; set; }


    protected int? Selected_Of = null;
    protected int? Selected_Op = null;

    async Task OnAddLineClicked()
    {
        // bool ok = Int32.TryParse(of_selectedSearchValue, out var of);
        // bool ok1 = Int32.TryParse(operation_selectedSearchValue, out var op);
        double qte = Quantite * 1.0;

        await Result.Create(new AddLigneInventaireQuery() { Societe = SOCIETE, Article = article_selectedSearchValue, Client = Client, OrdreDeFabication = Selected_Of ?? 0, CodeOperationFinie = Selected_Op ?? 0, Quantite = qte, Page = Page })
        .Bind(q => appService.AddAsync(q))
        .OnAsync(
            r =>
            {
                Inventaires.Add(r.Ligne);
                article_selectedAutoCompleteText = string.Empty;
                article_selectedSearchValue = string.Empty;
                Selected_Of = null;
                Selected_Op = null;
                of_selectedAutoCompleteText = "";
                Client = string.Empty;
                Quantite = 0;
                Operations.Clear();
                Notification.Info("Ligne d'inventaire creee");
            },
        fail => Notification.Warn(fail.Errors.AsString())
        );


    }
    Task onSelectOperationClicked(EventArgs args, int op)
    {
        Selected_Op = op;
        return Task.CompletedTask;
    }
    async Task OnOrdreDeFabricationChanged(int of)
    {

        if (of > 0)
        {
            Operations.Clear();
            await Result.Create(new BrowseOperationPourOrdreDeFabricationQuery() { Societe = SOCIETE, OrdreDeFabrication = of })
            .Bind(q => appService.Browse(q))
            .OnAsync(
                r =>
                {
                    Operations.AddRange(r.Operations);
                    if (Operations.Count() > 0)
                    {
                        Selected_Of = of;
                        Selected_Op = Operations.First();
                    }
                },
            fail => Notification.Warn(fail.Errors.AsString())
            );

        }
    }

    async Task RemoveLigneInventaire(DeleteCommandContext<LigneInventaireDto> ctx)
    {
        var l = ctx.Item;
        await appService.RemoveAsync(new RemoveLigneInventaireQuery() { Id = l.Id });
        Inventaires.Remove(l);
    }

    protected async Task InventaireUpdating(CancellableRowChange<LigneInventaireDto, Dictionary<string, object>> row)
    {
        var ligne = GetCurrentScreen(row.Item, row.Values);

        await Result.Create(new UpdateLigneInventaireQuery() { Id = row.Item.Id, Ligne = ligne })
        .Bind(q => appService.UpdateAsync(q))
        .OnAsync(
            r=>Notification.Info("Ligne d'inventaire mise à jour"),
            fail=>Notification.Warn(fail.Errors.AsString())
        );
      
    }
    protected T GetCurrentScreen<T>(T currentObj, Dictionary<string, object> EditedValues)
    {
        object obj = JsonSerializer.Deserialize<T>(JsonSerializer.Serialize(currentObj));
        PropertyInfo[] prop = obj.GetType().GetProperties();
        foreach (KeyValuePair<string, object> kv in EditedValues)
        {
            PropertyInfo pi = (from p in prop where p.Name == kv.Key select p).FirstOrDefault<PropertyInfo>();
            pi.SetValue(obj, kv.Value);
        }
        return (T)obj;
    }
}
